
src/.env

src/Modules/trash/Bot1.py

src/Modules/trash/Bot2.py

src/Modules/trash/CleanBot.py

src/Modules/trash/Gpt-bot.py

src/Modules/trash/

src/modules/__pycache__

src/embeds/

src/__pycache__/
